---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = (await getCollection('dev-posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul class="mt-6 flex flex-col gap-y-6">
      {
        posts.map((post) => (
          <li class="inline-block">
            <a class="pb-6" href={`/dev-posts/${post.slug}/`}>
              <p class="text-lg text-slate-900 dark:text-white break-words">{post.data.title}</p>
              <span class="text-sm text-slate-600 dark:text-slate-400">
                <FormattedDate date={post.data.pubDate} />
              </span>
              <p class="text-base">{post.data.description}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>