---
import '../styles/reset.css';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('dev-posts')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/dev-posts/${post.slug}/`}>
									<p class="title">{post.data.title}</p>
                  <span class="pub-date">
										<FormattedDate date={post.data.pubDate} />
                  </span>
									<p class="description">{post.data.description}</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>

<style>
  li {
    display: inline-block;
    list-style: none;
    display: flex;
  }

  li a {
    margin-bottom: 2em;
    text-decoration: none;
  }

  .title {
    font-size: 1.2em;
  }

  .pub-date {
    font-size: 0.6em;
  }

  .description {
    font-size: 0.8em;
  }
</style>