---
import { SITE_TITLE, GITHUB_USER_NAME, TWITTER_USER_NAME } from '../consts';
import ThemeButton from './ThemeButton.astro';
import SocialLink from './SocialLink.astro'

const socialLinks = [
  {
    brandName: 'x-twitter',
    url: `https://twitter.com/${TWITTER_USER_NAME}`,
  },
  {
    brandName: 'github',
    url: `https://github.com/${GITHUB_USER_NAME}`
  }
]
---

<header>
	<nav class="flex items-center justify-between px-8 my-4">
		<h2 class="m-0 text-2xl	font-bold text-slate-900 dark:text-white"><a href="/">{SITE_TITLE}</a></h2>
    <!-- <ThemeButton /> -->
    <div class="flex gap-4 ">
      {socialLinks.map(link => (
        <SocialLink brandName={link.brandName} url={link.url} class="text-2xl"/>
      ))}
    </div>
	</nav>
  <div>
    <hr class="m-0">
  </div>
</header>
